html {
    height: 100%;
}

body {
    background-color: #d6bbe2;
    height: 100%;
}

table{
    width: 80%;
    margin-left: 10%;
    height: 85%;
    align-items: center;
}

th, td {
    background-color: #c6a9df;
    border: 1px solid #d6bbe2;
    border-collapse: collapse;
    align-items: center;
}

#humstr, #temstr, #persons, #gas {
    font-family: "Georgia";
    color: blue;
    font-size: 300%;
    text-align: center;
}

#temstr {
    color: red;
}

#persons {
    color:rgb(111, 43, 138)
}

#gas {
    color:rgb(179, 124, 61) ;
}